; Enable high precision step compression for the X/Y motors.
; This is a bleeding edge feature that requires custom MCU firmware.

[stepper_x]
high_precision_step_compress: true

[stepper_y]
high_precision_step_compress: true

[input_shaper]
enabled_extruders: extruder