
#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_6
##  Endstop connected to DIAG_6
[stepper_x]
# step_pin: PF13
# dir_pin: PF12
# enable_pin: !PF14
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 20   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
# uart_pin: PC4
uart_pin: PE1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG14
driver_SGTHRS: 70 # works from 66 to 80 (without heavy hitting)

##  A Stepper - Right
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_y]
# step_pin: PG0
# dir_pin: PG1
# enable_pin: !PF15
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350

homing_speed: 20  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC4
# uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6
driver_SGTHRS: 72 # works from 67 to 82 (without heavy hitting)

# [safe_z_home] ##  XY Location of the Z Endstop Switch
# home_xy_position:233.5,350
# speed:100
# z_hop:10