# Include your printer config here first
[include printers/sierra-2.4r2/*.cfg]

[include mainsail.cfg]
[include config.cfg]
#[include timelapse.cfg]

[include addons/*.cfg]
[include features/*.cfg]
[include macros/*.cfg]
[include mcus/*.cfg]
[include outputs/*.cfg]
[include screen/*.cfg]
[include sensors/*.cfg]

# Default values for these fields so that they can be updated by Klipper
[probe]
z_offset: 0

[extruder]
control: pid
pid_kp: 31.182
pid_ki: 1.823
pid_kd: 133.305

[heater_bed]
control: pid
pid_kp: 47.973
pid_ki: 2.206
pid_kd: 260.855